.bonus-form {
  margin-bottom: 15px;
}

.bonus-form label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input[type="number"],
input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  width: 90%;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f4f4f4;
}

button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #218838;
}
